<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <center>
        {% if dcolumns %}
        <h1>Show Data</h1>

        <table class="table table-bordered">

            <thead>
                {% for dept_data in dcolumns %}
                <th>{{dept_data}}</th>
                {% endfor %}
                <th>Employee Details</th>

            </thead>
            
                {% for dept_row_data in data %}

                <tr>
                    <td>{{dept_row_data.id}}</td>
                    <td>{{dept_row_data.dno}}</td>
                    <td>{{dept_row_data.dna}}</td>
                    <td>{{dept_row_data.loc}}</td>
                    <td>{{dept_row_data.email}}</td>
                    <td>

                        <table class="table table-striped">

                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Eno</th>
                                    <th>DNO</th>
                                    <th>Ename</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for emp_row_data in dept_row_data.emp_set.all %}

                                <tr>
                                    <td>{{emp_row_data.id}}</td>
                                    <td>{{emp_row_data.eno}}</td>
                                    <td>{{emp_row_data.dno}}</td>
                                    <td>{{emp_row_data.ename}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                </tr>

                </td>
                {% endfor %}
            
        </table>
        {% else %}
        <h1>No Data</h1>
        {% endif %}
    </center>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>