{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cs.css' %}">
</head>

<body>
    <center>
        <h1>Images</h1>
        <img id='logan' class="lo" src="{% static 'images/logan.jpg' %}" alt="">

        <div class="cls">
            <h1>ABCDEFGHIJK</h1>
            <p>It is what it is</p>
        </div>
    </center>
</body>

</html>