{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Home Page</title>

    {% endblock %}
</head>

<body>
    {% block empty %}
  <form action="" method="post">
    {% csrf_token %}
    <label for="usn"></label>
    <input type="text" name="usn" id="usn">
    <label for="pwd"></label>

    <input type="password" name="pwd" id="pwd"><br>
    <input type="submit" value="Update"><br>
  </form>
    {% endblock%}

</body>

</html>