{% load fi %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>
            {{data}}<br>
            {{data | Swapping}}<br>
            {{data | length}}<br>
            {{data | rev}}<br><br>
            {% my_tag "Hello" 1 5 %}<br>
            {{ data|my_filter:"A,1,5" }}<br>
            {{data |find:'c'}}


        </h1>
    </center>
</body>

</html>