<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="" method="post">
            {% csrf_token %}
           
            {% if tform %}
            {{tform}}
            <input type="submit" value="Insert Topic">
            {% elif wform %}
            {{wform.as_p}}
            <input type="submit" value="Insert Webpage">
            {% elif aform %}
            {{aform}}
            <input type="submit" value="Insert Access">
            {% endif %}

            <!-- <input type="submit" value="Insert"> -->
        </form>
    </center>
</body>
</html>