<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><center>
    <table border="3px">
        <tr>
            {% for c in columns %}
            <th>{{c}}</th>
            {% endfor %}
        </tr>
        {%for o in Cobj%}
        <tr>
            <td>{{o.id}}</td>
            <td>{{o.name}}</td>
            <td>{{o.author}}</td>
            <td>{{o.date}}</td>
        </tr>
        {% endfor %}
    </table></center>
</body>
</html>